@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5vh;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 3.5vw;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}